*{
    padding: 0%;
    margin: 0%;
    font-family: "Poppins";
}
.container{
    background-color: aqua;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.calculator{
    background-color: rgb(126, 126, 126);
    height: 32rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    padding: 1rem;
    border: none;
    border-radius: 25px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    
}
#userInput{
    padding: 1rem;
    width: 90%;
    font-size: x-large;
    border: none;
    border-radius: 20px;
    background-color: rgb(66, 66, 66);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
   
}
button{
    font-size: x-large;
    cursor: pointer;
}
.btn button{
   height: 4rem;
   width: 4rem;
   border: none;
   border-radius: 25px;
   background-color:orange;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
   color: white;
}

.a,.b,.c,.d,.e{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-evenly;
}
#num{
    color: black;
    background-color: white;
}